@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("./styles/animations.css");

:root {
  font-size: 16px;

  --primary-brown: #a65814;
  --secondary-brown: #f1dfc7;
  --third-brown: #fbf4df;

  --primary-blue: #037aff;
  --primary-red: #ff8c8c;
  --primary-green: #15b785;

  --white: white;
  --black: black;
}

body {
  font-family: "Bubblegum Sans", serif;
}

.App {
  height: 100svh;
  width: 100svw;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  background-color: var(--secondary-brown);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/slimeVersion/bg4.jpeg");
}
