svg.SVG_text path {
  fill: transparent;
  stroke: var(--black);
  stroke-width: 0.5;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: textAnimation 3s ease-in-out 1 forwards;
  animation-delay: 6s;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 200;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: var(--black);
    stroke-dashoffset: 0;
  }
}
